## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [20]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [26]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 484us/step - loss: 0.5708 - accuracy: 0.7220
Epoch 2/100
804/804 [==============================] - 0s 473us/step - loss: 0.5546 - accuracy: 0.7319
Epoch 3/100
804/804 [==============================] - 0s 474us/step - loss: 0.5511 - accuracy: 0.7332
Epoch 4/100
804/804 [==============================] - 0s 529us/step - loss: 0.5499 - accuracy: 0.7332
Epoch 5/100
804/804 [==============================] - 0s 577us/step - loss: 0.5491 - accuracy: 0.7347
Epoch 6/100
804/804 [==============================] - 0s 519us/step - loss: 0.5475 - accuracy: 0.7355
Epoch 7/100
804/804 [==============================] - 0s 573us/step - loss: 0.5469 - accuracy: 0.7350
Epoch 8/100
804/804 [==============================] - 0s 544us/step - loss: 0.5460 - accuracy: 0.7341
Epoch 9/100
804/804 [==============================] - 0s 499us/step - loss: 0.5455 - accuracy: 0.7351
Epoch 10/100
804/804 [==============================] - 0s 485us/step - loss: 0.5450 - accuracy: 0.7370
Epoch 11/100
804/804 [==============================] - 0s 486us/step - loss: 0.5449 - accuracy: 0.7351
Epoch 12/100
804/804 [==============================] - 0s 485us/step - loss: 0.5444 - accuracy: 0.7362
Epoch 13/100
804/804 [==============================] - 0s 484us/step - loss: 0.5439 - accuracy: 0.7356
Epoch 14/100
804/804 [==============================] - 0s 486us/step - loss: 0.5437 - accuracy: 0.7366
Epoch 15/100
804/804 [==============================] - 0s 486us/step - loss: 0.5433 - accuracy: 0.7374
Epoch 16/100
804/804 [==============================] - 0s 487us/step - loss: 0.5435 - accuracy: 0.7363
Epoch 17/100
804/804 [==============================] - 0s 485us/step - loss: 0.5428 - accuracy: 0.7369
Epoch 18/100
804/804 [==============================] - 0s 486us/step - loss: 0.5427 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 0s 486us/step - loss: 0.5426 - accuracy: 0.7367
Epoch 20/100
804/804 [==============================] - 0s 484us/step - loss: 0.5419 - accuracy: 0.7377
Epoch 21/100
804/804 [==============================] - 0s 521us/step - loss: 0.5421 - accuracy: 0.7380
Epoch 22/100
804/804 [==============================] - 0s 486us/step - loss: 0.5420 - accuracy: 0.7369
Epoch 23/100
804/804 [==============================] - 0s 485us/step - loss: 0.5414 - accuracy: 0.7378
Epoch 24/100
804/804 [==============================] - 0s 486us/step - loss: 0.5413 - accuracy: 0.7382
Epoch 25/100
804/804 [==============================] - 0s 495us/step - loss: 0.5409 - accuracy: 0.7391
Epoch 26/100
804/804 [==============================] - 0s 484us/step - loss: 0.5407 - accuracy: 0.7375
Epoch 27/100
804/804 [==============================] - 0s 484us/step - loss: 0.5408 - accuracy: 0.7378
Epoch 28/100
804/804 [==============================] - 0s 485us/step - loss: 0.5403 - accuracy: 0.7376
Epoch 29/100
804/804 [==============================] - 0s 487us/step - loss: 0.5405 - accuracy: 0.7381
Epoch 30/100
804/804 [==============================] - 0s 481us/step - loss: 0.5405 - accuracy: 0.7383
Epoch 31/100
804/804 [==============================] - 0s 485us/step - loss: 0.5402 - accuracy: 0.7392
Epoch 32/100
804/804 [==============================] - 0s 486us/step - loss: 0.5396 - accuracy: 0.7396
Epoch 33/100
804/804 [==============================] - 0s 484us/step - loss: 0.5395 - accuracy: 0.7386
Epoch 34/100
804/804 [==============================] - 0s 483us/step - loss: 0.5395 - accuracy: 0.7392
Epoch 35/100
804/804 [==============================] - 0s 482us/step - loss: 0.5395 - accuracy: 0.7383
Epoch 36/100
804/804 [==============================] - 0s 487us/step - loss: 0.5391 - accuracy: 0.7385
Epoch 37/100
804/804 [==============================] - 0s 484us/step - loss: 0.5395 - accuracy: 0.7390
Epoch 38/100
804/804 [==============================] - 0s 532us/step - loss: 0.5389 - accuracy: 0.7394
Epoch 39/100
804/804 [==============================] - 0s 485us/step - loss: 0.5388 - accuracy: 0.7388
Epoch 40/100
804/804 [==============================] - 0s 483us/step - loss: 0.5383 - accuracy: 0.7395
Epoch 41/100
804/804 [==============================] - 0s 483us/step - loss: 0.5390 - accuracy: 0.7395
Epoch 42/100
804/804 [==============================] - 0s 486us/step - loss: 0.5382 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 0s 486us/step - loss: 0.5384 - accuracy: 0.7396
Epoch 44/100
804/804 [==============================] - 0s 486us/step - loss: 0.5383 - accuracy: 0.7407
Epoch 45/100
804/804 [==============================] - 0s 484us/step - loss: 0.5384 - accuracy: 0.7394
Epoch 46/100
804/804 [==============================] - 0s 485us/step - loss: 0.5384 - accuracy: 0.7400
Epoch 47/100
804/804 [==============================] - 0s 485us/step - loss: 0.5382 - accuracy: 0.7402
Epoch 48/100
804/804 [==============================] - 0s 482us/step - loss: 0.5380 - accuracy: 0.7386
Epoch 49/100
804/804 [==============================] - 0s 484us/step - loss: 0.5375 - accuracy: 0.7400
Epoch 50/100
804/804 [==============================] - 0s 485us/step - loss: 0.5380 - accuracy: 0.7402
Epoch 51/100
804/804 [==============================] - 0s 484us/step - loss: 0.5372 - accuracy: 0.7397
Epoch 52/100
804/804 [==============================] - 0s 493us/step - loss: 0.5376 - accuracy: 0.7404
Epoch 53/100
804/804 [==============================] - 0s 521us/step - loss: 0.5375 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 0s 486us/step - loss: 0.5370 - accuracy: 0.7405
Epoch 55/100
804/804 [==============================] - 0s 484us/step - loss: 0.5373 - accuracy: 0.7397
Epoch 56/100
804/804 [==============================] - 0s 486us/step - loss: 0.5372 - accuracy: 0.7394
Epoch 57/100
804/804 [==============================] - 0s 481us/step - loss: 0.5370 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 0s 485us/step - loss: 0.5369 - accuracy: 0.7400
Epoch 59/100
804/804 [==============================] - 0s 483us/step - loss: 0.5369 - accuracy: 0.7406
Epoch 60/100
804/804 [==============================] - 0s 484us/step - loss: 0.5366 - accuracy: 0.7411
Epoch 61/100
804/804 [==============================] - 0s 482us/step - loss: 0.5362 - accuracy: 0.7407
Epoch 62/100
804/804 [==============================] - 0s 484us/step - loss: 0.5367 - accuracy: 0.7409
Epoch 63/100
804/804 [==============================] - 0s 487us/step - loss: 0.5366 - accuracy: 0.7411
Epoch 64/100
804/804 [==============================] - 0s 482us/step - loss: 0.5365 - accuracy: 0.7409
Epoch 65/100
804/804 [==============================] - 0s 519us/step - loss: 0.5363 - accuracy: 0.7407
Epoch 66/100
804/804 [==============================] - 0s 484us/step - loss: 0.5364 - accuracy: 0.7406
Epoch 67/100
804/804 [==============================] - 0s 493us/step - loss: 0.5365 - accuracy: 0.7415
Epoch 68/100
804/804 [==============================] - 0s 487us/step - loss: 0.5365 - accuracy: 0.7404
Epoch 69/100
804/804 [==============================] - 0s 483us/step - loss: 0.5360 - accuracy: 0.7407
Epoch 70/100
804/804 [==============================] - 0s 485us/step - loss: 0.5360 - accuracy: 0.7413
Epoch 71/100
804/804 [==============================] - 0s 483us/step - loss: 0.5357 - accuracy: 0.7400
Epoch 72/100
804/804 [==============================] - 0s 482us/step - loss: 0.5356 - accuracy: 0.7414
Epoch 73/100
804/804 [==============================] - 0s 486us/step - loss: 0.5363 - accuracy: 0.7409
Epoch 74/100
804/804 [==============================] - 0s 486us/step - loss: 0.5357 - accuracy: 0.7417
Epoch 75/100
804/804 [==============================] - 0s 484us/step - loss: 0.5357 - accuracy: 0.7421
Epoch 76/100
804/804 [==============================] - 0s 484us/step - loss: 0.5357 - accuracy: 0.7408
Epoch 77/100
804/804 [==============================] - 0s 485us/step - loss: 0.5356 - accuracy: 0.7410
Epoch 78/100
804/804 [==============================] - 0s 514us/step - loss: 0.5353 - accuracy: 0.7409
Epoch 79/100
804/804 [==============================] - 0s 485us/step - loss: 0.5350 - accuracy: 0.7411
Epoch 80/100
804/804 [==============================] - 0s 483us/step - loss: 0.5358 - accuracy: 0.7406
Epoch 81/100
804/804 [==============================] - 0s 485us/step - loss: 0.5352 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 0s 493us/step - loss: 0.5356 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 0s 483us/step - loss: 0.5355 - accuracy: 0.7414
Epoch 84/100
804/804 [==============================] - 0s 485us/step - loss: 0.5352 - accuracy: 0.7413
Epoch 85/100
804/804 [==============================] - 0s 486us/step - loss: 0.5352 - accuracy: 0.7409
Epoch 86/100
804/804 [==============================] - 0s 482us/step - loss: 0.5354 - accuracy: 0.7414
Epoch 87/100
804/804 [==============================] - 0s 485us/step - loss: 0.5354 - accuracy: 0.7413
Epoch 88/100
804/804 [==============================] - 0s 482us/step - loss: 0.5351 - accuracy: 0.7411
Epoch 89/100
804/804 [==============================] - 0s 485us/step - loss: 0.5354 - accuracy: 0.7406
Epoch 90/100
804/804 [==============================] - 0s 483us/step - loss: 0.5351 - accuracy: 0.7413
Epoch 91/100
804/804 [==============================] - 0s 519us/step - loss: 0.5349 - accuracy: 0.7408
Epoch 92/100
804/804 [==============================] - 0s 485us/step - loss: 0.5349 - accuracy: 0.7416
Epoch 93/100
804/804 [==============================] - 0s 485us/step - loss: 0.5354 - accuracy: 0.7411
Epoch 94/100
804/804 [==============================] - 0s 481us/step - loss: 0.5345 - accuracy: 0.7419
Epoch 95/100
804/804 [==============================] - 0s 484us/step - loss: 0.5348 - accuracy: 0.7405
Epoch 96/100
804/804 [==============================] - 0s 483us/step - loss: 0.5359 - accuracy: 0.7411
Epoch 97/100
804/804 [==============================] - 0s 495us/step - loss: 0.5346 - accuracy: 0.7414
Epoch 98/100
804/804 [==============================] - 0s 483us/step - loss: 0.5345 - accuracy: 0.7416
Epoch 99/100
804/804 [==============================] - 0s 485us/step - loss: 0.5349 - accuracy: 0.7416
Epoch 100/100
804/804 [==============================] - 0s 482us/step - loss: 0.5345 - accuracy: 0.7417

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5607 - accuracy: 0.7261 - 144ms/epoch - 538us/step
Loss: 0.5606702566146851, Accuracy: 0.726064145565033

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

/Users/kaijagregory/Library/Python/3.9/lib/python/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(